html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    background-image: url('img/bg2.png');
    background-size: cover;
}
footer {
    bottom: 0;
    background-color: #c6c5c5;
    width: 100%;
    height: 10rem;
    text-align: center;
}
.l-main {
    padding: 1px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: #dadada8b
}
.top-content{
    width: 100%;
    height: 20rem;
    background-image: url('img/top-img.jpg');
    background-size: cover;
    /* background-size: auto; */
    display: flex;
    justify-content: space-between;
}
.team-pictures{
    display: flex;
    justify-content: space-around;
}
.team-pictures img{
    margin-top: auto;
    height: 10.3rem;
    width: auto;
    
}
.team {
    margin-top: 13rem;
    margin-left: 5rem;
    height: 200px;
    color: snow;
    font-size: 30px;
    font-weight: bold;
}
a {
    color: white;
}
a:link {
    text-decoration: none;
  }

a:hover {
    text-decoration: underline;
    color: turquoise;
}


.nav{
    text-align: right;
}

ul li{
    list-style-type: none;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-right: 1rem;
    color: white;
}

.slum{
    width: 80%;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    text-align: center;
    
}

.slum-content p{
    width: auto;
    text-indent: 70px;
    font-size: 1.5rem;
    margin-right: .7rem;
    margin-left: .7rem;
}
.pictures{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.pictures-content{
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}

.pictures-content img{
    height: 16rem;
    width: 17rem;
    margin-right: 1.5rem;
    border-radius: .5rem;
}
.problems{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.problems-content{
    display: flex;
    justify-content: space-between;
}
h3{
    color: white;
    margin-left: 10px;
}
.problems-img1{
    background:url('img/prob1.jpg');
    width: 48%;
    height: 15rem;
    background-size: cover;
}
.problems-img2{
    background:url('img/prob2.jpg');
    width: 50%;
    background-size: cover;
}
.solutions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.sol-content{
    padding: .8rem;
    background-color: #e2e1e1de;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    font-size: 1.5rem;
    width: 45%;
    margin-top: 5px;
}
.sol-pic{
    background: url('img/solutions-img.jpg');
    height: 18rem;
    width: 50%;
    background-size: cover;
}
.feelings {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 2rem;
    width: 80%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}
.feel-pic{
    background: url('img/feelings-img.jpg');
    height: 20rem;
    width: 50%;
    background-size: cover;
}
.feel-content{
    background-color: #e2e1e1de;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: .2rem;
    border-radius: 1rem;
    margin-left: 2rem;
    width: 50%;
    margin-top: 5px;
}
.feel-content p{
    text-indent: 3rem;
    font-size: 1.2rem;
    margin-left: 2rem;
}
.feel-content h1{
    margin-left: 2rem;
}